<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define BookRepository -->
    <bean id="bookRepository" class="com.example.library.BookRepository" />

    <!-- Constructor and Setter Injection for BookService -->
    <bean id="bookService" class="com.example.library.BookService">
        <!-- Constructor Injection: passing string to constructor -->
        <constructor-arg value="Fiction" />
        
        <!-- Setter Injection: injecting BookRepository -->
        <property name="bookRepository" ref="bookRepository" />
    </bean>

</beans>
